<div id="pergaminhos">
	<h3>Pergaminhos</h3>

	<ul>
		<% for (var i = 0; i < acoes.length; i++) { %>

		<%
			var texto = '';
			switch(parseInt(acoes[i].acoes)) {
				case 1: texto = "aldeão(ões) coletando recursos"; break;
				case 2: texto = "enforcamento(s) programado"; break;
				case 3: texto = "aldeão(ões) em treinamento de história"; break;
				case 4: texto = "aldeão(ões) em treinamento de magia"; break;
			}

			var date = new Date();
			var tempo_atual = date.getTime();

			var tempo_restante = Math.round((acoes[i].acao_termina_em - tempo_atual) / 1000);

		%>
			<li> <%= acoes[i].quantidade %> <%= texto %>
				-  <small>restam <span class="tempo_restante"><%= tempo_restante %></span> segundos
				- <a href="/revogar_acao?id_acao=<%= acoes[i]._id %>">revogar ordem</a></small> </li>
		<% } %>

	</ul>
</div>
